###########################################
#
# Clipse ignore files
#
###########################################
**/tmp_files/
**/.config/clipse/clipboard_history.json
**/.config/clipse/clipse.log

###########################################
#
# Others
#
###########################################
*.log
**/notes/
**/system/
