###########################################
#
# Clipse ignore files
#
###########################################
\.conf/clipse/tmp_files/
\.config/clipse/clipboard_history.json
\.config/clipse/clipse.log

###########################################
#
# Others
#
###########################################
*.log
\misc/notes/
\misc/system/
