###########################################
#
# Clipse ignore files
#
###########################################
**/tmp_files/

\clipboard_history.json

\clipse.log

###########################################
#
# Don't look!
#
###########################################
*.log
**/notes/
**/system/
